body {
  background-color: #698269;
  text-align: center;
  padding: 0;
  margin: 0;
}
.title{
    color: #3b453b;
    text-shadow: 4px 3px 9px rgb(42 41 41 / 52%);
    font-size: 3rem;
    font-family: cursive;
    display: block;
    margin: 10px 0px;
}
.counter{
    color: #3b453b;
    font-size: 3rem;
}
span{
    color: #323532;
}
.type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.mouse-events,
.keyboard-events {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-color: #b99b6b;
  margin: 0.5rem 2rem;
  width: 15rem;
  height: 18rem;
  padding: 3rem;
  border-radius: 6px;
}

button{
    padding:10px 5px ;
    background-color: #AA5656;
    color: #F1DBBF;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
input{
    padding:10px 10px ;
    margin: 3px 0px;
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}


@media screen and (max-width:1024px) {
    .type{
        flex-direction: column;
    }
}